body{
  background: url(https://cdn.mos.cms.futurecdn.net/0be37ce81c973c7b7a9e709dedd017a2-650-80.jpg);
  color: yellow;
  text-align: center;
}
.img {
  width: 80px;
  float: left;
  margin-left: 10%;
  /* overflow: hidden; */
}
.sidebar {
  width: 20%;
  float: right;
  background-color: rgb(0, 110, 255);
  border: yellow;
  padding: 15px;
}
.about {
  background-color: rgba(51, 38, 38, 0.788);
  border: 2px solid lightgrey;
  float: center;
}
.button {
  background-color: rgba(119, 136, 153);
  border: 10px solid goldenrod;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}
.top {
  background-color: rgba(51, 38, 38, 0.788);
  border: 2px solid lightgrey;
  float: center;
}

.example {
  set width & height
  look into "object fit"
  apply this class to the <img>
}

https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit